<div class="post-preview">
    <a href="post.html">
        <h2 class="post-title">
          {{title}}
        </h2>
        <h3 class="post-subtitle">
            {{subtitle}}
        </h3>
    </a>
    <p class="post-meta">Posted on {{formatRelative createdOn }}</p>
</div>
