<!DOCTYPE html>
<html lang="en">
{{> head title="Clean blog"}}

<body>

    <!-- Navigation -->
  {{> navbar }}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {{{body }}}
    <!-- Footer -->
    {{> footer}}

   {{> scripts }}

</body>

</html>
