{{> head title="Add Post" }}
<body>
<link rel="stylesheet" href="/static/css/editor.css" media="screen" charset="utf-8">
{{> navbar theme="dark"}}

<div class="container-fluid">

        <div class="row">
            <div class="col-md-10 main-container">
                <label for="title">Title:</label><input type="text" class="form-control" id="title" name="title" required="">
                <label for="sub-title">Sub-title:</label><input type="text" class="form-control" id="sub-title" name="sub-title" required="">

                <div id="epiceditor" style="height: 300px;">
                </div>
            </div>

        </div>



<br>
<div class="btn btn-primary">Add post</div>

</div>

    {{> footer}}



<script src="/static/js/epiceditor.min.js">
</script>
<script>
var conf = {
    container: 'epiceditor',
  textarea: null,
  basePath: 'epiceditor',
  clientSideStorage: true,
  localStorageName: 'epiceditor',
  useNativeFullscreen: true,
  parser: marked,
  file: {
    name: 'epiceditor',
    defaultContent: '',
    autoSave: 100
  },
  theme: {
    base: 'http://0.0.0.0:8000/static/css/epiceditor.css',
    preview: 'http://0.0.0.0:8000/static/css/preview-dark.css',
    editor: 'http://0.0.0.0:8000/static/css/epic-dark.css'
  },
  button: {
    preview: true,
    fullscreen: true,
    bar: "auto"
  },
  focusOnLoad: false,
  shortcut: {
    modifier: 18,
    fullscreen: 70,
    preview: 80
  },
  string: {
    togglePreview: 'Toggle Preview Mode',
    toggleEdit: 'Toggle Edit Mode',
    toggleFullscreen: 'Enter Fullscreen'
  },
  autogrow: false
};

var editor = new EpicEditor(conf).load();

</script>

</body>
